.heading-root {
	display: block;
}

.heading {
	min-width: 200px;
	max-width: min-content;
	background-color: var(--clr-background);
	border: none;
	margin-top: 0;
	color: var(--clr-primary);
	font-size: 2rem;
}

.hide-btn {
	width: 2rem;
	aspect-ratio: 1 / 1;
}

.show-btn {
	width: 100%;
}
