.row-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: justify;

	/* position: absolute;
	margin: 0;
	top: 50%;
	transform: translateY(-50%); */

	padding-left: 5vw;
	padding-right: 5vw;
}
.about-text {
	float: left;
	width: 50%;
}
.about-image {
	height: auto;
	width: auto;
	max-height: 24%;
	max-width: 24%;

	float: right;
	padding-right: 5vw;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.readMoreButton {
	width: 25%;
	line-height: 2vh;
}

.meetTheTeam {
	margin-left: 5vw;
	margin-right: 5vw;
}
.meetTheTeamText {
	font-size: calc(10px + 5vw);

	margin-top: 1vh;
	margin-bottom: 1vh;
}

.meetTheTeamProfileIcons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.teamIcon {
	background-color: var(--blue-color-2);

	width: 256px;
	height: 256px;

	margin-left: 2vw;
	margin-right: 2vw;

	border: 5px solid var(--secondary-background-color);
	border-radius: 50%;

	will-change: background-color, border-color, transform;
	transition: all 0.33s ease;
}
.teamIcon:hover {
	background-color: var(--blue-color-1);
	border-color: var(--main-background-color);

	transform: scale(var(--button-hover-scale));

	will-change: background-color, border-color, transform;
	transition: all 0.33s ease;
}

.teamMemberText {
	display: inline-block;
	position: relative;
}
.teamMemberText .teamMemberTextTooltip {
	visibility: hidden;

	/* Set tooltip color and center align text */
	background-color: var(--tooltip-background-color);
	color: var(--tooltip-text-color);
	text-align: center;

	/* Center tooltip */
	position: absolute;
	top: 50%;
	left: 50%;

	width: 25vw;
	margin-left: -12.5vw;

	/* Add space around text */
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1vh;
	padding-bottom: 1vh;

	/* Make tooltip border round */
	border-radius: 5px;
	/* Make tooltip always be on top */
	z-index: 1000;

	opacity: 0;
	transform: scale(0);

	transition: all 0.33s ease;
	transition-delay: 0.5s;
}
.teamMemberText .teamMemberTextTooltip::after {
	content: '';

	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;

	border: 5px solid;
	border-color: transparent transparent var(--tooltip-background-color) transparent;
}
.teamMemberText:hover .teamMemberTextTooltip {
	visibility: visible;

	opacity: 1;
	transform: scale(1);

	will-change: transform, opacity;
	transition: all 0.33s ease;
}
